<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href=http://bootswatch.com/journal/bootstrap.min.css>
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap-responsive.css">
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}


	<div class="container content">
  <div class="row" style="text-align: center">
      <div class="span12">
       <h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
       Welcome to the Berkeley <a href='https://netsys.cs.berkeley.edu/index.html'>NetSys Lab</a> project page. Here are a few of our
          latest projects.
      </div>
  </div>
