<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="description" content="Networked Systems Lab Projects at UC Berkeley --
		   Scott Shenker and Sylvia Ratnasamy group.">
  <meta name="keywords" content="software-defined networking, Internet
    Architecture, Routebricks, networks, NetSys, middleboxes, Berkeley, Scott Shenker,
    Sylvia Ratnasamy">

	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href=http://bootswatch.com/journal/bootstrap.min.css>
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap-responsive.css">
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}


	<div class="container content">
  <div class="row" style="text-align: center">
      <div class="span12">
       <h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
       <p>Welcome to the Berkeley <a href='https://netsys.cs.berkeley.edu/index.html'>NetSys Lab</a>
       projects page. You can find our latest projects here.
       </p>
      </div>
  </div>
